@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    }

  :root {
      font-family: 'Lobster', cursive;
      --header-nav-color: #eee;
      --footer-back-color: #ddd;
      --button-color: #cc4624;
      --body-back-color: rgb(224, 236, 55);
      --body-back-change-color: rgb(226, 163, 26);
      --text-color: rgb(0, 0, 0) ;
  }

  .container {
    max-width: 980px;
    margin: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    color:blue;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

 
 
