header: {
  position: fixed;
}

.header__nav-logo {
  font-size: 3rem;
  text-decoration: solid;
  text-transform: uppercase;
  text-align: right;
  display: block;
}

.header__nav-menu {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.header__nav {
  background-color: var(--header-nav-color);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 600px) {
  .header__nav < .container {
    display: flex;
  }

  .header__nav-menu {
    flex-direction: row;
  }
}

.header__nav-menu a {
  text-decoration: none;
}

.header__nav-menu a:hover {
  text-decoration: underline;
}

#header-img {
  height: 50px;
  width: 50px;
  padding-top: 10px;
}